// @import-normalize;

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}
/* .modalBg {
  position: fixed;
  inset: 0;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
} */

.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  background: rgb(255, 255, 255);
}
.main {
  /* Group 213 */
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
  /* Primary */
  background-image: url("../public/images/Lunch_atop_a_Skyscraper.png");
  // background-color: rgba(42, 108, 234 / 0.8);
  // background-color: red;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: center;
  // background: rgb(42, 108, 234);
  // background-blend-mode: hue;
  // opacity: 0.8;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Оверлей поверх картинки с прозрачностью 50% */
    background-color: rgba(42, 108, 234, 0.8);
  }
}
.header {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 464px;
    height: 28px;
  }
  &__link {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    &:hover {
      text-decoration-line: underline;
    }
  }
  &__burger {
    width: 62px;
    height: 62px;
    display: none;
  }
}

.content {
  /* Group 214 */
  max-width: 748px;
  height: 334px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__title {
    /* Headline 1 */
    color: rgb(255, 255, 255);
    font-size: 52px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 18px;
  }
  &__text {
    /* Сделай круто тестовое задание и у тебя получится */
    /* Body 18 */
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
  }
  &__button {
    /* Button/Large/Default/Regular */
    width: 251px;
    height: 64px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    /* Mid grey */
    border: 1px solid rgb(194, 200, 205);
    border-radius: 4px;

    /* White */
    background: rgb(236, 239, 242);
    /* Headline 5 */
    color: rgb(25, 28, 31);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.secondBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // height: 281px;
  // margin-top: 80px;
  &__title {
    width: 338px;
    margin-bottom: 61px;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    color: #191c1f;
  }
  &__content {
    list-style: none;
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }
}
.thirdBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 32px;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  &__right {
    width: 592px;
    height: 448px;
    background-image: url("../public/images/2_1.png"),
      url("../public/images/2_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__left {
    width: 592px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
  }
  &__title {
    /* Headline 3 */
    color: rgb(25, 28, 31);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__text {
    /* Body 16 */
    color: rgb(94, 100, 106);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
  }
}
.reviews{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
background: rgb(246, 248, 250);
padding: 57px 10px 45px;

  }
// ================== Медиа ====================================

@media screen and (max-width: 768px) {
  .content {
    /* Group 214 */
    max-width: 476px;
    height: 229px;
    &__title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 17px;
    }
    &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
    }
  }
  .header {
    justify-content: space-between;
    &__logo {
      margin-left: 17px;
    }
    &__navbar {
      display: none;
    }
    &__burger {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  .thirdBlock {
    gap: 24px;
    &__right {
      width: 351px;
      height: 265px;
    }
    &__left {
      width: 352px;
      gap: 15px;
    }
    &__title {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
@media screen and (max-width: 375px) {
  .content {
    max-width: 288px;
    height: 252px;
    &__title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 10px;
    }
  }
  .thirdBlock {
    gap: 7px;
    &__right {
      width: 342px;
      height: 265px;
    }
    &__left {
      width: 342px;
      gap: 15px;
    }
    &__title {
      font-size: 20px;
      line-height: 24px;
    }
  }

}
@media screen and (max-width: 320px) {
   .thirdBlock {
    gap: 27px;
    &__right {
      width: 288px;
      height: 218px;
    }
    &__left {
      width: 288px;
      gap: 15px;
    }
  }

}
 


/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
