.wrapper {
  display: flex;
  flex-direction: column;
}
.title {
  color: rgb(25, 28, 31);
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
}
.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 32px;
}
.container {
  overflow: hidden;
  position: relative;
  width: 1119px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 0;
  margin: 16px 0 34px;
}
.slide {
  width: 341px;
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 8px;
  padding: 22px;
  margin: 0 16px;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
  }
  &__author {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__image {
    display: flex;
    object-fit: cover;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  &__name {
    color: rgb(25, 28, 31);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__city {
    color: rgb(94, 100, 106);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
  }
  &__review {
    text-align: left;
    margin-top: 10px;
    color: rgb(25, 28, 31);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.slide_list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.arrow {
  height: 32px;
  width: 32px;
  &:hover {
    cursor: pointer;
  }
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(194, 200, 205);
  cursor: pointer;
}
.selected {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(42, 108, 234);
}
.dots {
  display: flex;
  justify-content: center;
  gap: 17px;
}
// ================== Медиа ====================================

@media screen and (max-width: 1280px) {
  .container {
    width: 746px;
  }
  .arrow {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 746px;
  }
  .arrow {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 373px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    width: 320px;
  }
  .slide {
    width: 288px;
    height: 335px;
  }
}
